node_modules/
.env
__pycache__/
venv/
*.pyc
*.so
*.pyd
.DS_Store
build/
.cache/
*.pack
*.idx
frontend/node_modules/
frontend/build/
frontend/.cache/
backend/node_modules/
python-service/venv/
python-service/__pycache__/
